In [20]:
# import requests
import requests

In [21]:
# url of website to be scraping
url = "https://www.worldometers.info/gdp/nepal-gdp/"

In [22]:
response_data = requests.get(url).content
# print(response_data)

In [23]:
# importing BeautifulSoup to soup the data
from bs4 import BeautifulSoup

In [24]:
# here, content in parser to the html
html_soup_data = BeautifulSoup(response_data, "html.parser")

In [32]:
# find the class of table
table_data = html_soup_data.find(class_ = "table table-striped table-bordered table-hover table-condensed table-list")

In [40]:
# find all the table headers
table_headers = table_data.find_all("th")
# assign table headers in text using list comprehension
table_title = [title.text for title in table_headers]

In [41]:
table_title # printing headers of table

['Year',
 'GDP Nominal (Current USD) ',
 'GDP Real  (Inflation adj.) ',
 'GDP change',
 'GDP per capita',
 'Pop. change',
 'Population']

In [70]:
# importing the pandas library to create dataframe
import pandas as pd

In [72]:
df = pd.DataFrame(columns = table_title) # creating the dataframe and assigning title in column of dataframe
df

Empty DataFrame
Columns: [Year, GDP Nominal (Current USD) , GDP Real  (Inflation adj.) , GDP change, GDP per capita, Pop. change, Population]
Index: []

In [ ]:
# extracting  table row from table data
table_tr = table_data.find_all("tr")

In [86]:
for tr in table_tr[1:]: # for loop from index 1
  data = tr.find_all("td") # extracting all td data from table row
  tr_data = [td.text for td in data] # assign td data in text
  l = len(df)
  df.loc[l] = tr_data # adding the iterative td data in dataframe

In [87]:
# creating csv file
df.to_csv("Nepal GDP.csv", index = False)

In [88]:
data_to_be_inserted = df.to_records(index = False) # data of df converting into tuple

In [103]:
# importing sqlit3 to store data in database
import sqlite3

In [105]:
# creating new database file and conneting to sql
connection = sqlite3.connect("Nepal GDP.db")

In [107]:
# to execute sql statement
cursor = connection.cursor()

In [129]:
#query statement to create table
query = """
create table NepalGDP
(
    Year varchar(500),
    GDPNominal varchar(500),
    GDPReal varchar(500),
    GDPchange varchar(500),
    GDPpercapita varchar(500),
    Popchange varchar(500),
    Population varchar(500)
)
"""

In [ ]:
cursor.execute(query) # query statement to create table is executed

In [134]:
# to insert value in table
cursor.executemany("""insert into NepalGDP
(Year, GDPNominal, GDPReal, GDPchange, GDPpercapita, Popchange, Population)
values
(?, ?, ?, ?, ?, ?, ?)"""
, data_to_be_inserted)

In [ ]:
cursor.execute("select * from NepalGDP").fetchall() # fetching all data from the table